
body {
    color: white;
    background-color: rgb(75, 51, 161);
}
tr td {
    padding-right: 1em;
}

#table {
    color: rgb(251, 255, 0);
    margin: 1em;
}

div{
    text-align: center;
    justify-content: center;
    align-items: center;
    word-spacing: 50px;
}
.center{
    padding: 7px 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius:9px;
    box-shadow: 3px 3px 11px rgb(255, 255, 255);
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 20px;
}
.center:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(23, 250, 23);
    font-weight: bold;
}
legend{
    font-size: 40px;
    text-align: center;
    color: rgb(212, 0, 255);
}
fieldset{
    border: 10px double black;
}
